.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-one-third {
  width: 33%;
}

.column-one-fourth {
  width: 25%;
}

.column-two-thirds {
  width: 75%;
}

img {
  width: 100%;
}
