* {
  font-family: "DM Sans", sans-serif;
}

.container {
  width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-fifth {
  flex-basis: calc(100% / 5);
}

.center-stuff {
  text-align: center;
  justify-content: center;
}

.lv-image {
  background-image: url(images/lv-bag.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 530px;
}

.price-bg {
  display: inline;
  background-color: #fff2e7;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: bold;
}

.info-left {
  text-align: left;
  font-size: 20px;
}

.gray-font {
  color: #d7d7d7;
}

.brand {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 2px solid #d7d7d7;
}

.image {
  width: 350px;
  margin: 0 25px 0 25px;
}
