html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}

.column-half {
  width: calc(100% / 2);
}

.header-border {
  border-bottom: 1px solid #e8e9ec;
  margin-bottom: 60px;
}

.align-right {
  text-align: right;
}

.align-ready-button {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  padding-right: 45px;
}

.ready-section {
  color: #6e6e6e;
  font-family: Avenir, sans-serif;
  text-align: center;
  padding-right: 50px;
}

.flexx {
  display: flex;
}

.block {
  display: block;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-family: Avenir, sans-serif;
}

.gray {
  color: #aaa;
}

.contact-button {
  background-color: #294464;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px;
}

.logo {
  width: 120px;
}

.hero-img {
  width: 100%;
}

.relative {
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.25);
  width: 100%;
  height: 100%;
}

.hero-h1 {
  font-family: "Tiempos Headline", serif;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 1px;
  color: white;
  margin: 0;
}

.hero-text {
  position: absolute;
  width: 52%;
  margin: 80px 0 0 60px;
}

.hero-p {
  font-family: Avenir, sans-serif;
  line-height: 2rem;
  color: white;
  font-size: 17px;
}

.start-button {
  background-color: #294464;
  color: white;
  padding: 15px 50px;
  border-radius: 5px;
  border: 1px;
  font-size: 18px;
}

.prefer-section {
  text-align: center;
  background-color: #fafafa;
  color: #6e6e6e;
  padding-bottom: 40px;
}

.prefer-border {
  border-bottom: 1px solid #e8e9ec;
}

.prefer-h2 {
  font-family: "Tiempos Headline", serif;
  font-weight: 300;
  margin-top: 60px;
  padding-top: 60px;
}

.prefer-p {
  font-family: Avenir, sans-serif;
  line-height: 2rem;
}

.ready-p {
  font-size: 14px;
  padding-right: 25px;
}

.about-p {
  font-family: Avenir, sans-serif;
  color: white;
  font-size: 14px;
  line-height: 2em;
}

.about-info {
  background-color: #525351;
  padding-top: 80px;
  padding-right: 60px;
  padding-left: 60px;
  margin-top: 20px;
  height: 350px;
}

.white-link {
  color: white;
}

.foot-link-space {
  width: 25px;
}

.company-links {
  color: #fefefe;
  font-family: Avenir, sans-serif;
}

.product-links {
  color: #fefefe;
  font-family: Avenir, sans-serif;
  padding-left: 60px;
}

.footer-section {
  font-family: Avenir, sans-serif;
  background-color: #fafafa;
  color: #6e6e6e;
  padding-left: 80px;
}

.footer-div {
  align-items: center;
  height: 100px;
}
